body{
	font-family: Mulish, sans-serif;
	font-size: 16px;
	line-height: 24px;
	padding: 0px;
	margin: 0px;
}

.navbar{
	background-color: #fff;
	border-bottom: 0.5px solid #aaa;
}
.navbar img{
	width: 100px;
}
.nav-item{
	color: #2b2b2b;
}
.left_nav{
	text-align: center;
}
.left_text{
	color: #2b2b2b;
}
#top_nav a.nav-link:link,#top_nav a.nav-link:visited{
	color: #2b2b2b;
	text-decoration: none;
}
#top_nav a.nav-link:hover{
	color: #7a7979;
}
.dropdown{
	position: relative;
	display: inline-block;
	margin-left: 10px;
}
.dropdown-content{
	position: absolute;
	display: none;
	z-index: 1;
}
.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown .dropdown-content a.dropdown-item:link, .dropdown .dropdown-content a.dropdown-item:visited{
	display: block;
	width: 170px;
	color: #2b2b2b;
	background-color: #fff;
	padding: 10px !important;
}
.dropdown .dropdown-content a.dropdown-item:hover{
	background-color: #ddd;
}
/*end nav*/

.filter_btn_list a.nav-link:link,.filter_btn_list a.nav-link:visited{
	color: #000;
	font-size: 18px;
	padding: 30px 10px 10px 0px;
}
.filter_btn_list a.nav-link:hover{
	color: #7a7979;
}
.filter_content{
	display: none;
	background: rgba(0,0,0,.2);
	position: absolute;
	font-size: 15px;
	width: 100%;
	height: 100%;
	padding-bottom: 5px;
}
.filter_content h6{
	font-weight: bolder;
	padding: 5px 0px;
}
.text-right button{
	width: 145px;
	height: 45px;
	border: none;
	border-radius: 6px;
	color: #fff;
	background-color: #2b2b2b;
}
.text-right button:hover{
	background-color: rgba(50,50,50,0.5); 
	border: none;
}
.white_bg{
	background: #fff;
	padding: 20px;
}
.white_bg h5{
	padding-bottom: 10px;
}
#sp{
	text-align: center;
	margin-bottom: 50px;
}
#sp h2{
	color: #cb936e;
}
#sp img{
	padding-bottom: 10px;
}
#sp .price{
	padding-bottom: 10px;
}

.sp_icon a:link, .sp_icon a:visited{
	color: #000;
	font-size: 19px;
}
.sp_icon a:hover{
	color: rgba(50,50,50,0.5);
}
#sp button{
	width: 140px;
	height: 40px;
	border: none;
	border-radius: 6px;
	color: #fff;
	background-color: #2b2b2b;
}
#sp button:hover{
	background-color: rgba(50,50,50,0.5); 
	border: none;
}
#sp .hover_item{
	padding: 10px;
}
#sp .hover_item:hover{
	cursor: pointer;
	border-radius: 6px;
	box-shadow: 1px 1px 10px 4px #aaa;
}
#sp .items{
	padding: 10px;
}
#sp .wrap{
	display: block;
	overflow: hidden;
}
#sp .wrap img{
	width: 100%;
	height: 100%;
	transition:  all 0.3s ease-in-out;
}
#sp .wrap:hover img{
	transform: scale(1.2);
	transition:  all 0.3s ease-in-out;
}
.modal-header{
	padding-top: 20px;
}
.modal-body{
	padding: 20px;
}
.modal-body form{
	padding-top: 10px;
}
.modal-body h6{
	padding: 25px 0px 10px 0px;
	font-style: italic;
	font-weight: bold;
}
#bag_modal .table td{
	vertical-align: baseline;
}
#bag_modal .table img{
	width: 100px;
}
#bag_modal .table .bold_text{
	font-weight: bold;
}

.icon1{
	color: #aaa;
}
.btn-outline-secondary{
	color: #2b2b2b;
	border: 1px solid #2b2b2b;
}
.btn-secondary{
	background-color: #2b2b2b;
	border: 1px solid #2b2b2b;
}


/*footer*/
.grey_bg{
	background-color: #2b2b2b;
}
.myfooter{
	color: #fff;
	padding-top: 35px;
	padding-bottom: 10px;
}
.logofooter{
	text-align: center;
	color: #fff;
}
.logofooter img{
	width: 130px;
	padding-top: 15px;
}
.logotext{
	font-size: 16px;
	padding: 15px 0px 20px 0px;
}
.footer_col{
	padding-top: 30px;
}
.nav-item a:link, .nav-item a:visited{
	font-weight: light;
	padding-left: 0px !important;
	color: #fff;
}
.nav-item a:hover{
	color: rgba(225,225,225,0.4);
}
.row{
	padding-top: 10px;
	padding-bottom: 30px;
}
.botfooter{
	padding-top: 20px;
}
.icon_footer_link{
	display: inline-block;
	font-size: 30px;
	color: #fff;
	margin-left: 10px;
}
a.icon_footer_link:hover{
	color: rgba(225,225,225,0.4);
}
