body{
	font-family: Mulish, sans-serif;
	font-size: 16px;
	line-height: 24px;
	padding: 0px;
	margin: 0px;
}

.navbar{
	background-color: #fff;
	border-bottom: 0.5px solid #aaa;
}
.navbar img{
	width: 100px;
}
.nav-item{
	color: #2b2b2b;
}
.left_nav{
	text-align: center;
}
.left_text{
	color: #2b2b2b;
}
#top_nav a.nav-link:link,#top_nav a.nav-link:visited{
	color: #2b2b2b;
	text-decoration: none;
}
#top_nav a.nav-link:hover{
	color: #7a7979;
}
.dropdown{
	position: relative;
	display: inline-block;
	margin-left: 10px;
}
.dropdown-content{
	position: absolute;
	display: none;
	z-index: 1;
}
.dropdown:hover .dropdown-content{
	display: block;
}
.dropdown .dropdown-content a.dropdown-item:link, .dropdown .dropdown-content a.dropdown-item:visited{
	display: block;
	width: 170px;
	color: #2b2b2b;
	background-color: #fff;
	padding: 10px !important;
}
.dropdown .dropdown-content a.dropdown-item:hover{
	background-color: #ddd;
}
/*end nav*/


.slogan_text{
	padding: 50px 30px 20px 30px;
	font-family: Philosopher, sans-serif;
	font-size: 19px;
	line-height: 29px;
	font-style: italic;
	text-align: center;
}

.sp{
	text-align: center;
}
.sp h2{
	padding: 20px 0px 10px 0px;
	color: #cb936e;
	font-weight: normal;
}
.sp img{
	padding-bottom: 10px;
}
.sp .price{
	padding-bottom: 10px;
}

.sp_icon a:link, .sp_icon a:visited{
	color: #000;
	font-size: 19px;
}
.sp_icon a:hover{
	color: rgba(50,50,50,0.5);
}
.sp button{
	width: 140px;
	height: 40px;
	border: none;
	border-radius: 6px;
	color: #fff;
	background-color: #2b2b2b;
}
.sp button:hover{
	background-color: rgba(50,50,50,0.5); 
	border: none;
}
.sp .hover_item{
	padding: 10px;
}
.sp .hover_item:hover{
	cursor: pointer;
	border-radius: 6px;
	box-shadow: 1px 1px 10px 4px #aaa;
}
.sp .items{
	padding: 10px;
}
.sp .wrap{
	display: block;
	overflow: hidden;
}
.sp .wrap img{
	width: 100%;
	height: 100%;
	transition:  all 0.3s ease-in-out;
}
.sp .wrap:hover img{
	transform: scale(1.2);
	transition:  all 0.3s ease-in-out;
}
.dv{
	padding: 20px 0px 30px 0px;
	text-align: center;
}
.dv h2{
	padding-top: 10px;
	color: #cb936e;
	font-weight: normal;
}
.dv img{
	padding-top: 20px;
	padding-bottom: 30px;
}
.dv button{
	width: 250px;
	height: 55px;
	border: 1px solid #2b2b2b;
	border-radius: 6px;
	color: #2b2b2b;
	background-color: #fff;
}
.dv button:hover{
	color: #fff;
	background-color: rgba(50,50,50,0.5); 
	border: none;
}

.cs{
	background-color: #e0d7d3;
	text-align: center;
}
.cs .cs_icon{
	margin: 10px 0px 25px 0px;
	color: #2b2b2b;
	font-size: 50px;
}
.cs .cs_icon:hover{
	color: rgba(50,50,50,0.5);  
}
.cs_item{
	padding-top: 25px;
}
.cs h4{
	padding: 7px 0px;
}
.cs_text{
	padding: 0px 15px;
}
.bggt{
	background-image: url(../hinh/bgg.jpg);
}
.gt{
	padding: 50px 0px 30px 0px;
}
.gt h5{
	font-family: Philosopher,sans-serif;
	font-style: italic;
	font-weight: bold;
	padding: 25px 0px;
}
.gt h3{
	padding-top: 5px;
}
.gt .left_align{
	margin-top: 25px;
	padding-right: 25px;
}

.ctm_bg{
	background-color: #e0d7d3;
	padding: 20px 0px;
	margin-bottom: 60px;
}
.ctm_bg h2{
	text-align: center;
	color: #cb936e;
	padding: 20px 0px;
	font-weight: normal;
}
#demo_carousel_group{
	min-height: 540px;
}
#demo_carousel_group ol.carousel-indicators li{
    background-color: #aaa;
}
.card-img-top{
	padding: 10px 0px 40px 0px;
	text-align: center;
	background-color: #e0d7d3;
	width: 100%;
}
.card-body{
	text-align: center;
	background-color: #fff;
	border-radius: 6px;
}
.icon_sp{
	padding: 5px 0px;
	font-size: 20px;
	color: #FE9D09;
}
.card-body .card_text{
	font-style: italic;
}
.card-body h4{
	font-weight: normal;
}
.s_icon{
	margin: auto;
}
.modal-header{
	padding-top: 20px;
}
.modal-body{
	padding: 20px;
}
.modal-body form{
	padding-top: 10px;
}
.modal-body h6{
	padding: 25px 0px 10px 0px;
	font-style: italic;
	font-weight: bold;
}
#bag_modal .table td{
	vertical-align: baseline;
}
#bag_modal .table img{
	width: 100px;
}
#bag_modal .table .bold_text{
	font-weight: bold;
}

.icon1{
	color: #aaa;
}
.btn-outline-secondary{
	color: #2b2b2b;
	border: 1px solid #2b2b2b;
}
.btn-secondary{
	background-color: #2b2b2b;
	border: 1px solid #2b2b2b;
}


/*footer*/
.grey_bg{
	background-color: #2b2b2b;
}
.myfooter{
	color: #fff;
	padding-top: 35px;
	padding-bottom: 10px;
}
.logofooter{
	text-align: center;
	color: #fff;
}
.logofooter img{
	width: 130px;
	padding-top: 15px;
}
.logotext{
	font-size: 16px;
	padding: 15px 0px 20px 0px;
}
.footer_col{
	padding-top: 30px;
}
.nav-item a:link, .nav-item a:visited{
	font-weight: light;
	padding-left: 0px !important;
	color: #fff;
}
.nav-item a:hover{
	color: rgba(225,225,225,0.4);
}
.row{
	padding-top: 10px;
	padding-bottom: 30px;
}
.botfooter{
	padding-top: 20px;
}
.icon_footer_link{
	display: inline-block;
	font-size: 30px;
	color: #fff;
	margin-left: 10px;
}
a.icon_footer_link:hover{
	color: rgba(225,225,225,0.4);
}
